---
interface Props {
  header: string;
  subtitle: string;
  reasonUrl?: string;
}

const { header, subtitle, reasonUrl } = Astro.props;
---

<div class="reason-card">
  <div class="reason-content">
    <img src={reasonUrl} alt="Reason Icon" class="reason-card-icon" />
    <span class="reason-header">{header}</span>
  </div>
  <span class="reason-subtitle">{subtitle}</span>
</div>

<style>
  .reason-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid var(--white2);
  }
  .reason-card-icon {
    width: 40px;
    height: 40px;
  }
  .reason-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 16px;
  }
  .reason-header {
    font-size: var(--d3);
    line-height: 40px;
    color: var(--primary);
    font-weight: 600;
  }
  .reason-subtitle {
    font-size: var(--d4);
    line-height: 28px;
    font-weight: 400;
    color: var(--grey1);
  }

  @media screen and (max-width: 768px) {
    .reason-card {
      gap: 16px;
    }
    .reason-card-icon {
      width: 32px;
      height: 32px;
    }
    .reason-content {
      padding: 0px;
      gap: 16px;
    }
    .reason-header {
      font-size: var(--m3);
      line-height: 32px;
    }
    .reason-subtitle {
      font-size: var(--m4);
      line-height: 24px;
    }
  }

  @media (prefers-color-scheme: dark) {
    .reason-subtitle {
      color: var(--grey0);
    }
    .reason-card {
      border: 1px solid var(--black2);
    }
  }
</style>
